<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      	<h1 class="display-4">The Gossip Project - Contact</h1>
    </div>
	
	<div>
        <div class="card-body">
        	<h1 class="card-title pricing-card-title text-center">Are you seeking any information? </h1>
            <h1 class="card-title pricing-card-title text-center">Fell free to contact us 
            	<a href="mailto:gch.thp@gmail.com">here</a>
            </h1>
        </div>
	</div>
</body>